* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif; }

body {
  margin: 40px 0;
  width: fit-content;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
  height: 88vh; }

.layout {
  display: flex;
  flex-direction: row;
  height: auto; }

h1.titulo {
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  border-radius: 20px;
  background: #343434;
  padding: 10px;
  margin: 10px 0; }

.container-control {
  background: #FFF;
  padding: 10px;
  margin: 10px;
  /* width: fit-content; */
  background: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: fit-content; }

.tu-dinero {
  border-radius: 18px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  background: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }
  .tu-dinero .container h2#dinero-actual {
    color: #3592FF;
    text-align: left;
    padding: 10px;
    font-size: 35px;
    font-weight: 700; }
  .tu-dinero .container h4 {
    text-align: left;
    font-size: 20px;
    font-weight: 600; }

div.subcard-card1 {
  border-radius: 18px;
  background: #343434;
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px; }
  div.subcard-card1 h4 {
    color: #FFF; }

p#dinero-plus {
  color: #2EC03D;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin: 0; }

p#dinero-minus {
  color: #FF4444;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin: 0; }

div.nueva-transaccion {
  background: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 10px 0;
  padding: 10px; }
  div.nueva-transaccion div.form-control {
    color: #343434;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 5px 10px;
    display: flex;
    flex-direction: column; }
  div.nueva-transaccion label {
    font-size: 14px; }
  div.nueva-transaccion input {
    border: 0;
    padding: 5px 10px;
    text-align: left;
    font-weight: 400;
    border-radius: 10px;
    background-color: #b8b8b8;
    color: #FFF;
    color: #000;
    font-weight: 500; }
  div.nueva-transaccion h3 {
    padding: 10px;
    font-weight: 600;
    margin: 0; }

.container-cambio {
  background: #FFF;
  padding: 10px;
  margin: 10px;
  /* width: fit-content; */
  background: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 675px;
  overflow-y: auto;
  border-radius: 20px;
  padding: 10px; }

.container-actualizacion {
  background: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18); }
  .container-actualizacion p#actualizacion {
    padding: 5px 0; }
  .container-actualizacion p#cotizaciones {
    margin-bottom: 10px; }

.container-comprar {
  background: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 10px 0;
  padding: 10px; }
  .container-comprar input {
    width: 300px; }

.container-vender {
  background: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 10px 0;
  padding: 10px; }
  .container-vender input {
    width: 300px; }

button#comprar-btn {
  margin: 10px; }

button#vender-btn {
  margin: 10px; }

#resultado {
  font-weight: 600;
  color: #3592FF; }

#resultado2 {
  font-weight: 600;
  color: #3592FF; }

.container-historial {
  background: #FFF;
  padding: 10px;
  margin: 10px;
  height: fit-content;
  /* width: fit-content; */
  background: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18); }
  .container-historial .movimientos {
    height: 555px;
    overflow-y: auto;
    border-radius: 20px;
    padding: 10px; }
  .container-historial hr {
    margin: 5px; }
  .container-historial div.boton {
    align-items: center;
    margin: 0 20px; }
  .container-historial .btn {
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    border: 0;
    font-size: 16px;
    margin: 20px 0;
    width: 100%;
    border-radius: 10px;
    background: #3592FF; }
  .container-historial .lista li.plus {
    color: #2EC03D;
    font-weight: 600;
    font-size: 17px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e7e7e7;
    padding: 5px 15px;
    padding-bottom: 2px;
    border-radius: 20px;
    margin: 3px 0; }
  .container-historial .lista li.minus {
    color: #FF4444;
    font-weight: 600;
    font-size: 17px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e7e7e7;
    padding: 5px 15px;
    padding-bottom: 2px;
    border-radius: 20px;
    margin: 3px 0; }
  .container-historial ul#lista {
    padding-left: 10px;
    min-width: 350px; }
  .container-historial .boton-borrar {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 0 5px;
    margin: 0 10px; }
  .container-historial span {
    display: flex;
    flex-direction: row;
    align-content: center; }
  .container-historial div.nueva-transaccion {
    border-radius: 20px;
    background: #FFF; }
  .container-historial .btn {
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    border: 0;
    font-size: 16px;
    margin: 20px 0;
    width: 100%;
    border-radius: 10px;
    background: #3592FF; }
