html{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

body{
margin: 40px 0;
width: fit-content;
}

p.pesos{
    text-align: left;
    width: fit-content;
    padding-left: 10px;
    margin-bottom: 0;
}

div.container{
    border-radius: 20px;
    border: #000 solid 2px;
    background: #FFF;
    padding: 5px;
    margin: 10px 0;
    /* width: fit-content; */
}

h1.titulo{
    margin: 10px 0;
}

div.card2.container{
    border-radius: 20px;
    border: #000 solid 2px;
    background: #FFF;
    padding: 15px;
    margin: 10px 10px;
    width: fit-content;
    justify-content: space-between;
}

.movimientos{
    max-height: 620px;
    overflow-y: auto;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 10px;
}

div.container-tudinero{
    border-radius: 20px;
    border: #000 solid 2px;
    background: #FFF;
    padding: 15px;
    margin: 10px 0;
}

h1{
    color: #FFF;
text-align: center;
font-size: 32px;
font-family: League Spartan;
font-weight: 600;
border-radius: 20px;
background: #343434;
padding: 10px;
margin: 10px;
}

div.layout{
    border-radius: 18px;
    margin: 0;
    padding: 5px 10px;
    background: #343434;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
}
div.control.container{
    justify-content: space-between;
}
/* ------------------------------------------ */

h4.dinero-actual{
    color: #000;
text-align: left;
font-size: 20px;
font-family: League Spartan;
font-weight: 600;
margin: 0;
padding: 0px 10px 0px 10px;
}

.tu-dinero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


h2#dinero-actual{
    color: #3592FF;
text-align: left;
padding: 10px;
font-size: 35px;
font-family: League Spartan;
font-weight: 700;
}
div.subcard-card1{
    border-radius: 18px;
    border: #000 solid 1;
    background: #343434;
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

div.subcard-card1 h4{
    color: #FFF;
}
h4{
    color: #343434;
text-align: left;
font-size: 20px;
font-family: League Spartan;
font-weight: 500;
padding: 10px;
}
p#dinero-plus{
    color: #2EC03D;
text-align: center;
font-size: 25px;
font-family: League Spartan;
font-weight: 600;
margin: 0;
}
p#dinero-minus{
    color: #FF4444;
text-align: center;
font-size: 25px;
font-family: League Spartan;
font-weight: 600;
margin: 0;
}

/* ------------------------------------------- */
div.card2{
    border-radius: 20px;
border: 2px solid #000;
background: #FFF;
margin: 10px 0;
}

div.boton{
    align-items: center;
    margin: 0 20px;
}

.btn {
    cursor: pointer;
    color: #fff;
    font-family: League Spartan, sans-serif;
    font-weight: 600;
    border: 0;
    font-size: 16px;
    margin: 20px 0;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #000;
    background: #3592FF;
}

.lista li.plus {
    color: #2EC03D;
    font-family: League Spartan, sans sans-serif;
    font-weight: 600;
    font-size: 17px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(231, 231, 231);
    padding: 5px 15px;
    padding-bottom: 2px;
    border-radius: 20px;
    margin: 3px 0;
}

.lista li.minus {
    color: #FF4444;
    font-family: League Spartan, sans sans-serif;
    font-weight: 600;
    font-size: 17px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(231, 231, 231);
    padding: 5px 15px;
    padding-bottom: 2px;
    border-radius: 20px;
    margin: 3px 0;
}
ul#lista{
    padding-left: 10px;
    min-width: 350px;
}
.boton-borrar {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 0 5px;
    margin: 0 10px;
}

span{
    display: flex;
    flex-direction: row;
    align-content: center;
}

div.nueva-transaccion{
    
border: 2px solid #000;
    border-radius: 20px;
background: #FFF;
}

div.form-control{
    color: #343434;
text-align: left;
font-size: 16px;
font-family: League Spartan;
font-weight: 600;
border: none;
padding: 5px 10px;
display: flex;
flex-direction: column;
}

label{
    font-size: 14px;
}
input{
    border: 0;
    padding: 5px 10px;
    text-align: left;
    font-weight: 400;
    border-radius: 10px;
    background-color: #b8b8b8;
    color: #FFF;
    color: #000;
    font-weight: 500;
}
h3{
    padding: 10px;
    font-weight: 600;
    margin: 0;
}

hr{
    border: solid #343434 1px ;
    margin: 0 40px;
} 
/* 
div.cambioMonedas{
    margin: 0 20px;
} */

p#actualizacion{
    margin: 0;
}
#convertir-btn{
    margin: 10px;
}
#convertir-btn2{
    margin: 10px;
}

#actualizacion{
    height: fit-content;
    font-size: 14px;
    font-weight: 500;
}

#cotizaciones{
    font-weight: 500;
    text-align: left;
    font-size: 18px;
}

p#resultado{
    margin: 5px;
}
p#resultado2{
    margin: 5px;
}

button#comprar-btn{
    margin-bottom: 5px;
}

button#vender-btn{
    margin-bottom: 5px;
}