 html{
    text-align: center;
}

body{
    border-radius: 20px;
border: 2px solid #000;
box-shadow: 6px -6px 0px 0px #000;
margin: 15px;
}

div.container{
    border-radius: 20px;
    border: #000 solid 2px;
background: #FFF;
padding: 0;

}
h1{
    color: #FFF;
text-align: center;
font-size: 32px;
font-family: League Spartan;
font-weight: 600;
border-radius: 20px;
background: #343434;
padding: 10px;
margin: 10px 0;
}

div.layout{
    border-radius: 18px;
margin: 0;
padding: 10px;
background: #E8E6B6;
background-repeat: no-repeat;
}

/* ------------------------------------------ */

h4.dinero-actual{
    color: #000;
text-align: left;
font-size: 20px;
font-family: League Spartan;
font-weight: 600;
margin: 0;
padding: 10px 10px 0px 10px;
}
h2#dinero-actual{
    color: #3592FF;
text-align: left;
padding: 10px;
font-size: 40px;
font-family: League Spartan;
font-weight: 700;
}
div.subcard-card1{
    border-radius: 18px;
    border: #000 solid 1;
background: #343434;
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 10px;
}
h4{
    color: #FFF;
text-align: center;
font-size: 16px;
font-family: League Spartan;
font-weight: 500;
}
p#dinero-plus{
    color: #2EC03D;
text-align: center;
font-size: 25px;
font-family: League Spartan;
font-weight: 600;
}
p#dinero-minus{
    color: #FF4444;
text-align: center;
font-size: 25px;
font-family: League Spartan;
font-weight: 600;
}

/* ------------------------------------------- */
div.card2{
    border-radius: 20px;
border: 2px solid #000;
background: #FFF;
margin: 10px 0;
}

div.boton{
    align-items: center;
    margin: 0 20px;
}
.btn {
    cursor: pointer;
    color: #fff;
    font-family: League Spartan, sans-serif;
    font-weight: 600;
    border: 0;
    font-size: 16px;
    margin: 20px 0;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #000;
    background: #3592FF;
}

.lista li.plus {
    color: #2EC03D;
    font-family: League Spartan, sans sans-serif;
    font-weight: 600;
    font-size: 17px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lista li.minus {
    color: #FF4444;
    font-family: League Spartan, sans sans-serif;
    font-weight: 600;
    font-size: 17px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul#lista{
    padding-left: 10px;
}
.boton-borrar {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 0 5px;
    margin: 0 10px;
}

span{
    display: flex;
    flex-direction: row;
    align-content: center;
}

div.nueva-transaccion{
    
border: 2px solid #000;
    border-radius: 20px;
background: #FFF;
}

div.form-control{
    color: #343434;
text-align: left;
font-size: 16px;
font-family: League Spartan;
font-weight: 600;
border: none;
padding: 15px 10px;
display: flex;
flex-direction: column;
}
input{
    border: 0;
    padding: 5px 10px;
    text-align: left;
    font-weight: 400;
    border-radius: 10px;
    background-color: #b8b8b8;
    color: #FFF;
}
h3{
    padding: 10px;
    font-weight: 600;
}

hr{
    border: solid #343434 1px ;
    margin: 0 40px;
} 