.container-historial{
    background: #FFF;
    padding: 10px;
    margin: 10px;
    height: fit-content;
    /* width: fit-content; */
    background: rgba( 255, 255, 255, 1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    .movimientos{
    height: 555px;
    overflow-y: auto;
    border-radius: 20px;
    padding: 10px;
    }
    hr{
        margin: 5px;
    }
    div.boton{
        align-items: center;
        margin: 0 20px;
    }
    .btn {
        cursor: pointer;
        color: #fff;
        font-weight: 600;
        border: 0;
        font-size: 16px;
        margin: 20px 0;
        width: 100%;
        border-radius: 10px;
        background: #3592FF;
    }
    .lista li.plus {
        color: #2EC03D;
        font-weight: 600;
        font-size: 17px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(231, 231, 231);
        padding: 5px 15px;
        padding-bottom: 2px;
        border-radius: 20px;
        margin: 3px 0;
    }
    
    .lista li.minus {
        color: #FF4444;
        font-weight: 600;
        font-size: 17px;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(231, 231, 231);
        padding: 5px 15px;
        padding-bottom: 2px;
        border-radius: 20px;
        margin: 3px 0;
    }
    ul#lista{
        padding-left: 10px;
        min-width: 350px;
    }
    .boton-borrar {
        cursor: pointer;
        background-color: #e74c3c;
        border: 0;
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        padding: 0 5px;
        margin: 0 10px;
    }
    span{
        display: flex;
        flex-direction: row;
        align-content: center;
    }
    
    div.nueva-transaccion{
        border-radius: 20px;
        background: #FFF;
    }
    .btn {
        cursor: pointer;
        color: #fff;
        font-weight: 600;
        border: 0;
        font-size: 16px;
        margin: 20px 0;
        width: 100%;
        border-radius: 10px;
        background: #3592FF;
    }
}