body{
    margin: 40px 0;
    width: fit-content;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
    height: 88vh;
}
.layout{
    display: flex;
    flex-direction: row;
    height: auto;
}

